<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.richakulkarni.uidesignone">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name ="com.google.android.geo.API_KEY"
        android:value="AIzaSyC_n2YxlHv1V8kz7a0H9Gd301v4b88nMBQ"
        />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TouristGuideApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name ="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_n2YxlHv1V8kz7a0H9Gd301v4b88nMBQ" />
        <activity android:name=".HomeDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NearMeActivity" />
        <activity android:name=".AddLocActivity" />
        <activity android:name=".BeenHereActivity" />
        <activity android:name=".FirebaseDataEntryActivity"/>
        <activity android:name=".EventsActivity" />
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>

